:root {
  --spacing-unit-zero: 0;
  --spacing-unit-half: 0.5rem;
  --spacing-unit-third: 0.75rem;
  --spacing-unit: 1rem;
  --sans: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --serif: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida,
    DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
  --mono: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  /* https://github.com/samme/base16-styles */
  /* Dracula by Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula) */
  --base00: #282936;
  --base01: #3a3c4e;
  --base02: #4d4f68;
  --base03: #626483;
  --base04: #62d6e8;
  --base05: #e9e9f4;
  --base06: #f1f2f8;
  --base07: #f7f7fb;
  --base08: #ea51b2;
  --base09: #b45bcf;
  --base0A: #00f769;
  --base0B: #ebff87;
  --base0C: #a1efe4;
  --base0D: #62d6e8;
  --base0E: #b45bcf;
  --base0F: #00f769;
}

.color00 {
  color: var(--base00);
}
.color01 {
  color: var(--base01);
}
.color02 {
  color: var(--base02);
}
.color03 {
  color: var(--base03);
}
.color04 {
  color: var(--base04);
}
.color05 {
  color: var(--base05);
}
.color06 {
  color: var(--base06);
}
.color07 {
  color: var(--base07);
}
.color08 {
  color: var(--base08);
}
.color09 {
  color: var(--base09);
}
.color0A {
  color: var(--base0A);
}
.color0B {
  color: var(--base0B);
}
.color0C {
  color: var(--base0C);
}
.color0D {
  color: var(--base0D);
}
.color0E {
  color: var(--base0E);
}
.color0F {
  color: var(--base0F);
}
/* 
 * backgrounds
 */
.bg00 {
  background-color: var(--base00);
}
.bg01 {
  background-color: var(--base01);
}
.bg02 {
  background-color: var(--base02);
}
.bg03 {
  background-color: var(--base03);
}
.bg04 {
  background-color: var(--base04);
}
.bg05 {
  background-color: var(--base05);
}
.bg06 {
  background-color: var(--base06);
}
.bg07 {
  background-color: var(--base07);
}
.bg08 {
  background-color: var(--base08);
}
.bg09 {
  background-color: var(--base09);
}
.bg0A {
  background-color: var(--base0A);
}
.bg0B {
  background-color: var(--base0B);
}
.bg0C {
  background-color: var(--base0C);
}
.bg0D {
  background-color: var(--base0D);
}
.bg0E {
  background-color: var(--base0E);
}
.bg0F {
  background-color: var(--base0F);
}
/* border*/
.border-pill {
  border-radius: 999px;
}
/* Base */
html {
  height: 100%;
  font-family: var(--sans);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--base00);
  color: var(--base07);
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--sans);
}

#screen {
  flex: 1; /* fill remaining space */
  overflow: hidden;
}

/* functional */
.m1 {
  margin-left: var(--spacing-unit);
  margin-right: var(--spacing-unit);
  margin-top: var(--spacing-unit);
  margin-bottom: var(--spacing-unit);
}

.mx {
  margin-left: var(--spacing-unit);
  margin-right: var(--spacing-unit);
}

.mx-half {
  margin-left: var(--spacing-unit-half);
  margin-right: var(--spacing-unit-half);
}

.my {
  margin-top: var(--spacing-unit);
  margin-bottom: var(--spacing-unit);
}

.my-half {
  margin-top: var(--spacing-unit-half);
  margin-bottom: var(--spacing-unit-half);
}

.flx-row {
  display: flex;
  flex-direction: row;
}
.jty-btwn {
  justify-content: space-between;
}
.flx-10 {
  flex: 1 0;
}

.txt-capitalize {
  text-transform: capitalize;
}
.txt-uppercase {
  text-transform: uppercase;
}
.txt-lowercase {
  text-transform: lowercase;
}
.txt-reset {
  text-transform: none;
}

/* padding */
.p {
  padding: var(--spacing-unit);
}
.px {
  padding-left: var(--spacing-unit);
  padding-right: var(--spacing-unit);
}
.px-half {
  padding-left: var(--spacing-unit-half);
  padding-right: var(--spacing-unit-half);
}
.py {
  padding-top: var(--spacing-unit);
  padding-bottom: var(--spacing-unit);
}
.py-half {
  padding-top: var(--spacing-unit-half);
  padding-bottom: var(--spacing-unit-half);
}
.py-third {
  padding-top: var(--spacing-unit-third);
  padding-bottom: var(--spacing-unit-third);
}
.center-content {
    align-content: center;
}
.center-items {
    align-items: center;
}
